@font-face {
  font-family: 'Montserrat Subrayada';
  src: local('MontserratSubrayada'), url(./assets/fonts/MontserratSubrayada-Regular.ttf) format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

small {
  display: block;
}
